@model WDAdmin.WebUI.Models.UserGroupVideoCatagoryCredentialModels

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h4 class="alert_info">@LangResources.VideoPasswordAddTitle</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <article class="module width_full">
        <header><h3>@LangResources.VideoPasswordAddHeader</h3></header>
        <br />
        @Html.HiddenFor(m => m.VideoCatagoryId)
        @Html.HiddenFor(m => m.UserGroupId)
        @Html.HiddenFor(m => m.Salt)
        <div class="editor-label" style="margin:0px -90px 0px 0px">
            @Html.LabelFor(m => m.Password, LangResources.VideoPasswordView)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="clear"></div>
        <br />
        <div style="margin-left: 60px">
            <input type="submit" value="Tilføj" />
            <input type="button" value="@LangResources.BtnCancel" onclick="location.href='@Url.Action("Index", "Home")'" />
        </div>
    </article>

    @Html.ValidationSummary(true, LangResources.VideoPasswordViewAddError)
}
